h1{
	color: beige;
	background-color: beige
}
li {
  padding: 2px;
  margin: 2px;
  background: orange;
  list-style-type: none;

}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: beige;
}

.form-group {
  margin-bottom: 5px;
}

img{
	float: left;
	height: 150px;
	width: 150px;
}
